@inherits Nancy.ViewEngines.Razor.NancyRazorViewBase<Jnx.Modules.CoinDetails>

@{
    Layout = "Shared/_Layout.cshtml";
}

<div id="content">
    @RenderBody()
</div>

<aside id="sidebar">
    <h3>Kiirvalikud</h3>
    @Html.Partial("_Countries")
    @Html.Partial("_Nominals")
    @Html.Partial("_Commemoratives", @Model.CommemorativeYears)
</aside>
