@{
    Layout = "Shared/_Layout.cshtml";
}

<div class="row">
    <div class="col-md-8" id="content">
        @RenderBody()
    </div>

    <div class="col-md-4">
        <h2><small>Kiirvalikud</small></h2>
        <div class="row">
            <div class="col-sm-4">
                @Html.Partial("_Countries", @Model[0].Countries)
            </div>

            <div class="col-sm-4">
                @Html.Partial("_Nominals", @Model[0].NominalValues)
            </div>

            <div class="col-sm-4">
                @Html.Partial("_Commemoratives", @Model[0].CommemorativeYears)
            </div>
        </div>
    </div>
</div>
