@inherits Nancy.ViewEngines.Razor.NancyRazorViewBase<Jnx.Modules.ViewData<Jnx.Database.Types.Coin>>
@using Jnx.Helpers
@{
    Layout = "Coins/_Layout.cshtml";
}

<div class="page-header">
    @if (Html.IsCommonCoin(Model.ViewDetails)) {
        <h1>@Model.ViewDetails.Country.Genitive @Html.Raw(Html.CoinNominalValue(Model.ViewDetails)) käibemünt</h1>
    } else {
        <h1>@Model.ViewDetails.Country.Genitive @Html.CoinCommemorativeYear(Model.ViewDetails) mälestusmünt</h1>
    }
</div>

<div class="row">
    <div class="col-md-3 text-center">
        <img src="/Content/@Model.ViewDetails.ImageThumbUri" class="img-thumbnail" />
    </div>
    <div class="col-md-9">
        <form role="form">
            <div class="form-group">
                <label for="CoinCollectedBy">Annetaja:</label>
                <input type="text" class="form-control" id="CoinCollectedBy" placeholder="Kes leidis?" value="@Model.ViewDetails.CollectedByValue" />
            </div>
            <div class="form-group">
                <label for="CoinCollectedAt">Kuupäev / kellaaeg:</label>
                <div class="input-group">
                    <input type="datetime" class="form-control" id="CoinCollectedAt" placeholder="Millal leidis?" />
                    <span class="input-group-btn">
                        <button class="btn btn-default" type="button">
                            <span class="glyphicon glyphicon-time"></span>
                        </button>
                    </span>
                </div>
            </div>
            <div class="form-group">
                <label for="CoinForTrade">Vahetamiseks:</label>
                <input type="number" class="form-control" id="CoinForTrade" value="@Model.ViewDetails.ForTrade" />
            </div>
            <button type="submit" class="btn btn-default">Salvesta</button>
        </form>
    </div>
</div>