@inherits Nancy.ViewEngines.Razor.NancyRazorViewBase<Jnx.Modules.ViewData<Jnx.Repositories.CountryCoinStatistics[]>>
@using Jnx.Helpers
@{
    Layout = "Coins/_Layout.cshtml";
}

<div class="page-header">
    <h1>Eurom체ndid riikide kaupa</h1>
</div>

<table class="table">
    <thead>
        <tr>
            <th>Riik</th>
            <th>Tavam체ndid</th>
            <th>M채lestusm체ndid</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var stats in @Model.ViewDetails) {
        <tr>
@{
        var commonRatio = Html.PercentRatio(stats.CollectedCommon, stats.TotalCommon);
        var commemorativeRatio = Html.PercentRatio(stats.CollectedCommemorative, stats.TotalCommemorative);
}
            <td><a href="/coins/@stats.Country.Code">@stats.Country.Name</a></td>
            <td>
                <div class="progress" title="@stats.CollectedCommon/@stats.TotalCommon">
                    <div class="progress-bar progress-bar-@Html.ProgressType(commonRatio)" role="progressbar" aria-valuenow="@stats.CollectedCommon" aria-valuemin="0" aria-valuemax="@stats.TotalCommon" style="width: @commonRatio%">
                        <span class="sr-only">@commonRatio% Complete (success)</span>
                    </div>
                </div>
            </td>
            <td>
                @if (@stats.TotalCommemorative > 0) {
                <div class="progress" title="@stats.CollectedCommemorative/@stats.TotalCommemorative">
                    <div class="progress-bar progress-bar-@Html.ProgressType(commemorativeRatio)" role="progressbar" aria-valuenow="@stats.CollectedCommemorative" aria-valuemin="0" aria-valuemax="@stats.TotalCommemorative" style="width: @commemorativeRatio%">
                        <span class="sr-only">@commemorativeRatio% Complete</span>
                    </div>
                </div>
                }
            </td>
        </tr>
        }
    </tbody>
</table>
