@using Jnx.Helpers
@{
    var currentUser = Html.RenderContext.Context.CurrentUser;
}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewBag.Title</title>
    <link href="/Content/bootstrap.min.css" rel="stylesheet" />
    <link href="/Content/font-awesome.min.css" rel="stylesheet" />
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
    <![endif]-->
</head>
<body>
    <div class="navbar navbar-default navbar-static-top" role="navigation">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="/">Jnx</a>
            </div>
            <div class="collapse navbar-collapse">
                <ul class="nav navbar-nav">
                    <li>@Html.MenuItem("Mündikogu", "/coins")</li>
                    <li>@Html.MenuItem("Bla", "/bla")</li>
                </ul>
                <ul class="nav navbar-nav navbar-right">
                @if (currentUser == null) {
                    <li><a href="/authentication/redirect/google"><i class="fa fa-google fa-lg"></i></a></li>
                } else {
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="fa fa-user"></i> @currentUser.UserName <b class="caret"></b></a>
                        <ul class="dropdown-menu">
                            <li><a href="/logout">Logi välja</a></li>
                        </ul>
                    </li>
                }
                </ul>
            </div>
        </div>
    </div>

    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                @RenderBody()

                <div id="footer-container">
                    <hr />
                    <footer>
                        <div class="media">
                            <a class="pull-left" href="http://nancyfx.org/" target="_blank">
                                <img class="media-object" src="/Content/nancy-inverted-1.png" alt="Made with Nancy." title="Made with Nancy." />
                            </a>
                            <div class="media-body">
                                <h4 class="media-heading">Made with <a href="http://nancyfx.org/" target="_blank">Nancy</a>.</h4>
                                Nancy - Lightweight Web Framework for .NET
                            </div>
                        </div>
                    </footer>
                </div>
            </div>
        </div>
    </div>

    <script src="/Scripts/jquery-2.1.1.min.js"></script>
    <script src="/Scripts/bootstrap.min.js"></script>
    <script src="/Scripts/site.js"></script>
</body>
</html>
